project/dev/page.html
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Международный Аэропорт Уфа / Home</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">
      <meta name="HandheldFriendly" content="true">
      <link rel="stylesheet" href="assets/css/main.css">
      <link rel="icon" type="image/x-icon" href="favicon.ico"><!--[if lt IE 9 ]>
<script src="/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
<![endif]-->
  </head>
  <body>
    <div class="l-theme">
      <div class="l-wrap">
          <header class="header">
            <div class="header-top">
              <div class="container">
                <div class="header-top__inner row justify-content-between align-items-center">
                  <div class="col-md col-auto">
                    <div class="header-switcher">
                      <input class="header-switcher__input custom-control-input" id="customSwitch1" type="checkbox">
                      <label class="header-switcher__label" for="customSwitch1"><span class="header-switcher__item">Пассажирам</span><span class="header-switcher__check"></span><span class="header-switcher__item">Партнерам</span></label>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="d-lg-block d-none"><a class="header-top__link" href="#">Онлайн табло</a><a class="header-top__link" href="#">Схема аэропорта</a><a class="header-top__link" href="#">Обратная связь</a>
                      <div class="header-top__group">
                        <button class="header-top__btn header-top__btn_search" type="button">
            <svg class="ic" width="24" height="24">
                <use xlink:href="../svg-symbols.svg#search"></use>
            </svg>
        
                        </button>
                        <button class="header-top__btn header-top__btn_accessibility" type="button">
            <svg class="ic" width="20" height="20">
                <use xlink:href="../svg-symbols.svg#accessibility"></use>
            </svg>
        
                        </button>
                        <div class="header-language header-top__btn dropdown"><a class="header-language__link dropdown-toggle" href="#" role="button" id="dropdownLangLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="header-language__img img-fluid" src="assets/media/general/language-en.png" alt="EN"><span class="header-language__name">EN</span></a>
                          <div class="header-language__menu dropdown-menu" aria-labelledby="dropdownLangLink"><a class="header-language__item header-language__link dropdown-item" href="#"><img class="header-language__img img-fluid" src="assets/media/general/language-ru.png" alt="РУ"><span class="header-language__name">РУ</span></a></div>
                        </div>
                      </div>
                    </div>
                    <button class="toggle-menu-button navbar-toggler d-lg-none d-inline-block" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-main">
              <div class="container">
                <div class="row justify-content-between">
                  <div class="col"><a class="header__logo">
                      <picture>
                        <source srcset="assets/media/general/logo-mob.png" media="(max-width: 767px)"><img class="img-fluid" src="assets/media/general/logo.png" alt="Международный аэропорт Уфа">
                      </picture></a></div>
                  <div class="col-auto d-lg-inline-block d-none">
                    <div class="header-main__links"><a class="header__phone" href="tel:+88002006602">+8 (800) 200-66-02</a><a class="header__phone" href="tel:+83472006602">+8 (347) 200-66-02</a>
                      <button class="toggle-menu-button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">Меню<i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-nav">
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="header__mobile-group d-lg-none d-block">
                      <div class="container">
                        <div class="row">
                          <div class="col-sm">
                            <button class="header-top__btn header-top__btn_search" type="button">
            <svg class="ic" width="24" height="24">
                <use xlink:href="../svg-symbols.svg#search"></use>
            </svg>
        
                            </button>
                            <button class="header-top__btn header-top__btn_accessibility" type="button">
            <svg class="ic" width="20" height="20">
                <use xlink:href="../svg-symbols.svg#accessibility"></use>
            </svg>
        
                            </button>
                            <div class="header-language header-top__btn dropdown"><a class="header-language__link dropdown-toggle" href="#" role="button" id="dropdownLangLinkMob" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="header-language__img img-fluid" src="assets/media/general/language-en.png" alt="EN"><span class="header-language__name">EN</span>
            <svg class="ic" width="10" height="7">
                <use xlink:href="../svg-symbols.svg#arr-down"></use>
            </svg>
        </a>
                              <div class="header-language__menu dropdown-menu" aria-labelledby="dropdownLangLinkMob"><a class="header-language__item header-language__link dropdown-item" href="#"><img class="header-language__img img-fluid" src="assets/media/general/language-ru.png" alt="РУ"><span class="header-language__name">РУ</span></a></div>
                            </div>
                          </div>
                          <div class="col-sm-auto"><a class="header__phone" href="tel:+88002006602">+8 (800) 200-66-02</a><a class="header__phone" href="tel:+83472006602">+8 (347) 200-66-02</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row justify-content-between">
                        <div class="col-xl-auto">
                          <ul class="main-menu navbar-nav list-num">
                            <li class="main-menu__item"><a class="main-menu__link" href="#">Онлайн табло<span class="sr-only">(текущая)</span></a></li>
                            <li class="main-menu__item"><a class="main-menu__link" href="#">Сезонное расписание</a></li>
                            <li class="main-menu__item"><a class="main-menu__link" href="#">Услуги</a></li>
                            <li class="main-menu__item"><a class="main-menu__link" href="#">Информация</a></li>
                            <li class="main-menu__item"><a class="main-menu__link" href="#">Контакты</a></li>
                            <li class="main-menu__item"><a class="main-menu__link main-menu__link_sm" href="#">Об аэропорте</a></li>
                            <li class="main-menu__item"><a class="main-menu__link main-menu__link_sm" href="#">Партнерам</a></li>
                            <li class="main-menu__item"><a class="main-menu__link main-menu__link_sm" href="#">Пресс-центр</a></li>
                          </ul>
                        </div>
                        <div class="col-xl-6">
                          <div class="header-nav__cards">
                            <div class="row row_sm-mrg">
                              <div class="col-md-6"><a class="header-card" href="#"><span class="header-card__label">
            <svg class="ic" width="40" height="40">
                <use xlink:href="../svg-symbols.svg#tickets-2"></use>
            </svg>
        </span>
                                  <div class="header-card__title">Купить билет</div></a></div>
                              <div class="col-md-6"><a class="header-card" href="#"><span class="header-card__label">
            <svg class="ic" width="40" height="40">
                <use xlink:href="../svg-symbols.svg#parking-2"></use>
            </svg>
        </span>
                                  <div class="header-card__title">Парковки</div></a></div>
                              <div class="col-md-6"><a class="header-card" href="#"><span class="header-card__label">
            <svg class="ic" width="40" height="40">
                <use xlink:href="../svg-symbols.svg#map-2"></use>
            </svg>
        </span>
                                  <div class="header-card__title">Представительства авиакомпаний</div></a></div>
                              <div class="col-md-6"><a class="header-card" href="#"><span class="header-card__label">
            <svg class="ic" width="40" height="40">
                <use xlink:href="../svg-symbols.svg#map-2"></use>
            </svg>
        </span>
                                  <div class="header-card__title">Как добраться</div></a></div>
                              <div class="col-md-6"><a class="header-card" href="#"><span class="header-card__label">
            <svg class="ic" width="40" height="40">
                <use xlink:href="../svg-symbols.svg#map-2"></use>
            </svg>
        </span>
                                  <div class="header-card__title">Схема аэропорта</div></a></div>
                              <div class="col-md-6"><a class="header-card" href="#"><span class="header-card__label">
            <svg class="ic" width="40" height="40">
                <use xlink:href="../svg-symbols.svg#doc"></use>
            </svg>
        </span>
                                  <div class="header-card__title">Обратная связь</div></a></div>
                              <div class="col-md-6"><a class="header-card" href="#"><span class="header-card__label">
            <svg class="ic" width="40" height="40">
                <use xlink:href="../svg-symbols.svg#earth"></use>
            </svg>
        </span>
                                  <div class="header-card__title">Онлайн-регистрация</div></a></div>
                              <div class="col-md-6"><a class="header-card" href="#"><span class="header-card__label">
            <svg class="ic" width="40" height="40">
                <use xlink:href="../svg-symbols.svg#doc"></use>
            </svg>
        </span>
                                  <div class="header-card__title">Тайный пассажир</div></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="b-main-links"><a class="b-main-links__item" href="#">
                          <div class="b-main-links__title">Вылет</div>
                          <div class="b-main-links__info">Вылетающим и прилетающим</div></a><a class="b-main-links__item" href="#">
                          <div class="b-main-links__title">Прилет</div>
                          <div class="b-main-links__info">Прилетающим и встречающим</div></a><a class="b-main-links__item" href="#">
                          <div class="b-main-links__title">Трансфер и транзит</div>
                          <div class="b-main-links__info">Совершающим пересадку</div></a></div>
                    </div>
                  </div>
                  <!-- end .navig-->
                  
              </div>
            </div>
          </header>
          <!-- end .header-->
          
        <div class="container d-none d-sm-block">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Главная</a></li>
              <li class="breadcrumb-item"><a href="#">о компании</a></li>
              <li class="breadcrumb-item active" aria-current="page">Общая информация</li>
            </ol>
          </nav>
        </div>
        <main class="l-main">
          <div class="user-content">
            <div class="container">
              <div class="row">
                <div class="col-xl-7">
                  <h1>Общая информация</h1>
                  <div class="ui-slider js-slider" data-slick="{&quot;arrows&quot;: false, &quot;dots&quot;: true}"><img class="img-fluid" src="assets/media/content/user-content/1.jpg" alt="фото"><img class="img-fluid" src="assets/media/content/user-content/1.jpg" alt="фото"><img class="img-fluid" src="assets/media/content/user-content/1.jpg" alt="фото"></div>
                  <div class="lead">АО «Международный аэропорт «Уфа» — современный авиационный комплекс, способный принимать воздушные суда всех типов, имеющий две взлетно-посадочные полосы и модернизированный аэродром. МАУ − первый региональный аэропорт России, подтвердивший свое соответствие производственным стандартам ISAGO (IATA Safety Audit for Ground Operations).</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-5"><strong>Международный аэропорт «Уфа» – основное связующее звено между республикой Башкортостан и федеральным центром, центрами федеральных округов.  Находится он на пересечении двух крупных автомобильных магистралей М5 и М7. Кроме того, МАУ является запасным аэродромом для всех аэропортов в радиусе 1000 км, в том числе, и для посадки транспортных и грузовых ВС.</strong>
                  <h2>1 место количеству обслуженных пассажиров</h2>
                  <p>Международный аэропорт «Уфа» занимает 1 место количеству обслуженных пассажиров среди аэропортов ПФО (более 30% общего пассажиропотока).</p>
                  <p>По итогам национальной премии «Воздушные ворота России» аэропорт «Уфа» три года подряд признается лучшим в стране среди аэропортов с пассажиропотоком до 4 млн человек в год и лучшим по итогам пассажирского голосования. «Уфа» - единственный региональный аэропорт отмеченный авиационной премией «Крылья России». Эксперты авторитетного отраслевого агентства «АвиаПорт» присудили уфимскому аэропорту «четыре» звезды из пяти возможных за качество терминальной инфраструктуры и пассажирских сервисов.</p>
                  <h2>Обладатель сертификата IATA ISAGO</h2>
                  <p>Международный аэропорт «Уфа» - первый среди региональных аэропортов России обладатель сертификата  IATA  ISAGO, подтверждающего работу по высочайшим международным стандартам безопасности. Входит в десятку ведущих аэропортов России, один из крупнейших аэропортов в Приволжском федеральном округе РФ, пассажиропоток в год превышает 2,3 млн человек.  Партнерами аэропорта «Уфа» являются более 40 авиакомпаний, в том числе представители трех основных авиационных альянсов: SkyTeam, Star Alliance, Oneworld.</p>
                  <p>Авиакомпании Аэрофлот – РА, Сибирь, Россия, Ямал, Турецкие авиалинии, Чешские аэролинии, Узбекские авиалинии, Уральские авиалинии, Ижавиа, ЮВТ Аэро, ЮТэйр, Ред Вингз, Таймыр, Икар, Северный Ветер, Роял флайт, Азур эйр, Эллин эйр, Ангара, Красавиа и др.</p>
                  <h2>Более 70 направлений</h2>
                  <p>Маршрутная сеть авиаузла - более 70 направлений, включая 33 крупнейших города России. Самыми востребованными внутрироссийскими направлениями полетов из уфимского аэропорта являются: Москва, Санкт-Петербург, Казань, Сочи, Самара, Новосибирск. За последний год на внутренних линиях введено несколько новых направлений, таких как: Иркутск, Ханты-Мансийск, Геленджик, Ижевск, Чебоксары, Ульяновск, Ростов-на -Дону, Краснодар, Салехард, Надым, Тюмень, Нижний Новгород.</p>
                  <p>8 популярных регулярных международных направлений: Прага, Стамбул, Анталия, Ташкент, Баку, Батуми, Душанбе, Худжанд.</p>
                  <p>19 популярных чартерных туристических направлений в такие станы как Турция, Болгария, Греция, Тунис, о.Кипр, Таиланд, Индия, Вьетнам, ОАЭ, Израиль, Китай.</p>
                  <p>Терминал внутренних авиалиний занимает 12600 квадратных метров, оснащен 3 телетрапами и имеет пропускную способность 600 человек в час, имеет просторные залы ожидания и места отдыха.</p>
                  <h2>Современный высокотехнологичный комплекс</h2>
                  <p>Терминал внутренних авиалиний занимает 12600 квадратных метров, оснащен 3 телетрапами и имеет пропускную способность 600 человек в час, имеет просторные залы ожидания и места отдыха.</p>
                  <p>Терминал международных авиалиний представляет собой современный высокотехнологичный комплекс с пропускной способностью 800 человек в час. Его площадь составляет свыше 17 тысяч квадратных метров, что обеспечивает уровень комфорта обслуживания пассажиров стандарта «С» по классификации IATA. Категория  «Е»  ICAO позволяет принимать воздушные суда любого типа, в том числе,  Боинг-747, - 777.</p>
                  <p>В терминале установлено 13 стоек регистрации, 40 кабин паспортного контроля (прилет, вылет, VIP-обслуживание). Терминал оснащен тремя телескопическими трапами. Новое актуальное программное обеспечение, усовершенствованные модели базового и периферийного оборудования дают возможность полностью автоматизировать и оптимизировать работу всех технологических систем. Все помещения соответствуют требованиям безбарьерной среды и позволяют свободно передвигаться людям с ограниченными возможностями здоровья. На строительные работы,  длившиеся 1,5 года, было направлено 1,6 млрд рублей.</p>
                  <h2>Все условия для комфортного пребывания в аэропорту</h2>
                  <p>В терминале установлено 13 стоек регистрации, 40 кабин паспортного контроля (прилет, вылет, VIP-обслуживание). Терминал оснащен тремя телескопическими трапами. Новое актуальное программное обеспечение, усовершенствованные модели базового и периферийного оборудования дают возможность полностью автоматизировать и оптимизировать работу всех технологических систем. Все помещения соответствуют требованиям безбарьерной среды и позволяют свободно передвигаться людям с ограниченными возможностями здоровья. На строительные работы,  длившиеся 1,5 года, было направлено 1,6 млрд рублей.</p>
                  <p>МАУ создает все условия для комфортного пребывания в аэропорту пассажиров. Реализуется государственная программа «Доступная среда» − обслуживание пассажиров с ограниченными физическими возможностями.</p>
                  <p>На сегодняшний день авиация в Башкортостане сохраняет за собой статус превалирующего вида транспорта перед остальными в части сохранения времени и комфорта пассажиров.</p>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
        <footer class="footer">
          <div class="container">
            <div class="footer__main">
              <div class="footer__links"><a class="footer__link" href="tel:+88002006602">+8 (800) 200-66-02</a><a class="footer__link" href="tel:+83472006602">+8 (347) 200-66-02</a><a class="btn btn-secondary btn-sm d-md-none d-block" href="#">Обратная связь</a>
                <ul class="footer-soc list-unstyled">
                  <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="16" height="9">
                <use xlink:href="../svg-symbols.svg#soc-vk"></use>
            </svg>
        </a></li>
                  <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="9" height="16">
                <use xlink:href="../svg-symbols.svg#soc-fb"></use>
            </svg>
        </a></li>
                  <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="16" height="14">
                <use xlink:href="../svg-symbols.svg#soc-tw"></use>
            </svg>
        </a></li>
                  <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="16" height="16">
                <use xlink:href="../svg-symbols.svg#soc-inst"></use>
            </svg>
        </a></li>
                  <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="16" height="11">
                <use xlink:href="../svg-symbols.svg#soc-yt"></use>
            </svg>
        </a></li>
                  <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="10" height="16">
                <use xlink:href="../svg-symbols.svg#soc-od"></use>
            </svg>
        </a></li>
                </ul>
              </div>
              <form class="footer-search">
                <input class="footer-search__input js-footer-search" type="text" placeholder="Поиск по сайту">
                <div class="footer-search__btns">
                  <button class="footer-search__btn btn btn-primary">Найти</button>
                  <button class="footer-search__close js-footer-search__close btn btn-secondary" type="reset">Закрыть поиск</button>
                </div>
              </form>
            </div>
            <div class="copyright">
              <div class="row justify-content-between">
                <div class="col-lg"><a class="copyright__callback copyright__link d-none d-md-inline-block" href="#">Обратная связь</a><span>© 2019 Международный аэропорт «Уфа»</span></div>
                <div class="col-lg-auto"><span>
                    Разработка сайта —
                    <a class="copyright__link" href="#"><img class="copyright__develop img-fluid" src="assets/media/general/logo-develop.png" alt="Вебпространство"></a></span></div>
              </div>
            </div>
          </div>
        </footer>
        <!-- .footer-->
    </div>
      <div class="ui-modal modal fade" id="modalWarning" tabindex="-1" role="dialog" aria-labelledby="modalWarningLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="b-modal-warning modal-content">
            <div class="modal-header">
              <div class="modal-title" id="modalWarningLabel">Внимание!</div>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              По вопросам выполнения рейсов в Грузию просим обращаться в представительство Georgian Airways агентство «Аксима», тел.:
              <a class="b-modal-warning__link" href="tel:83472741851">8(347)274-18-51</a>
            </div>
            <div class="modal-footer"><a class="btn btn-primary" href="#">Подробнее</a>
              <button class="btn btn-no-bg mt-4 mt-sm-0" type="button" data-dismiss="modal">Закрыть сообщение</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end .b-modal-warning-->
      
      <div class="ui-modal modal modal_full fade" id="modalSwipe" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="b-modal-swipe modal-content">
            <div class="b-modal-swipe__inner">
              <div class="b-modal-swipe__info">
                <div class="b-modal-swipe__item">Прилет</div>
                <div class="b-modal-swipe__item">Трансфер и транзит</div>
              </div><img class="b-modal-swipe__img img-fluid" src="assets/media/general/swipe.png" alt="Листайте вправо">
            </div>
            <button class="btn btn-primary" type="button" data-dismiss="modal">Ок, я понял</button>
          </div>
        </div>
      </div>
      <!-- end .b-modal-swipe-->
      
    <!-- end .l-theme-->
    <script src="/assets/js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <!-- Input effects-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"></script>
    <!-- Main script-->
    <script src="assets/js/main.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>

project/markup/pages/page.pug
extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-services-item/b-services-item

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item
          a(href="#") о компании
        li.breadcrumb-item.active(aria-current="page") Общая информация


  main.l-main

    .user-content
      .container
        .row
          .col-xl-7
            h1 Общая информация
            .ui-slider.js-slider(data-slick='{"arrows": false, "dots": true}')
              img.img-fluid(src="assets/media/content/user-content/1.jpg", alt="фото")
              img.img-fluid(src="assets/media/content/user-content/1.jpg", alt="фото")
              img.img-fluid(src="assets/media/content/user-content/1.jpg", alt="фото")

            .lead АО «Международный аэропорт «Уфа» — современный авиационный комплекс, способный принимать воздушные суда всех типов, имеющий две взлетно-посадочные полосы и модернизированный аэродром. МАУ − первый региональный аэропорт России, подтвердивший свое соответствие производственным стандартам ISAGO (IATA Safety Audit for Ground Operations).

        .row
          .col-xl-5
            strong Международный аэропорт «Уфа» – основное связующее звено между республикой Башкортостан и федеральным центром, центрами федеральных округов.  Находится он на пересечении двух крупных автомобильных магистралей М5 и М7. Кроме того, МАУ является запасным аэродромом для всех аэропортов в радиусе 1000 км, в том числе, и для посадки транспортных и грузовых ВС.

            h2 1 место количеству обслуженных пассажиров

            p Международный аэропорт «Уфа» занимает 1 место количеству обслуженных пассажиров среди аэропортов ПФО (более 30% общего пассажиропотока).
            p По итогам национальной премии «Воздушные ворота России» аэропорт «Уфа» три года подряд признается лучшим в стране среди аэропортов с пассажиропотоком до 4 млн человек в год и лучшим по итогам пассажирского голосования. «Уфа» - единственный региональный аэропорт отмеченный авиационной премией «Крылья России». Эксперты авторитетного отраслевого агентства «АвиаПорт» присудили уфимскому аэропорту «четыре» звезды из пяти возможных за качество терминальной инфраструктуры и пассажирских сервисов.

            h2 Обладатель сертификата IATA ISAGO

            p Международный аэропорт «Уфа» - первый среди региональных аэропортов России обладатель сертификата  IATA  ISAGO, подтверждающего работу по высочайшим международным стандартам безопасности. Входит в десятку ведущих аэропортов России, один из крупнейших аэропортов в Приволжском федеральном округе РФ, пассажиропоток в год превышает 2,3 млн человек.  Партнерами аэропорта «Уфа» являются более 40 авиакомпаний, в том числе представители трех основных авиационных альянсов: SkyTeam, Star Alliance, Oneworld.
            p Авиакомпании Аэрофлот – РА, Сибирь, Россия, Ямал, Турецкие авиалинии, Чешские аэролинии, Узбекские авиалинии, Уральские авиалинии, Ижавиа, ЮВТ Аэро, ЮТэйр, Ред Вингз, Таймыр, Икар, Северный Ветер, Роял флайт, Азур эйр, Эллин эйр, Ангара, Красавиа и др.

            h2 Более 70 направлений

            p Маршрутная сеть авиаузла - более 70 направлений, включая 33 крупнейших города России. Самыми востребованными внутрироссийскими направлениями полетов из уфимского аэропорта являются: Москва, Санкт-Петербург, Казань, Сочи, Самара, Новосибирск. За последний год на внутренних линиях введено несколько новых направлений, таких как: Иркутск, Ханты-Мансийск, Геленджик, Ижевск, Чебоксары, Ульяновск, Ростов-на -Дону, Краснодар, Салехард, Надым, Тюмень, Нижний Новгород.
            p 8 популярных регулярных международных направлений: Прага, Стамбул, Анталия, Ташкент, Баку, Батуми, Душанбе, Худжанд.
            p 19 популярных чартерных туристических направлений в такие станы как Турция, Болгария, Греция, Тунис, о.Кипр, Таиланд, Индия, Вьетнам, ОАЭ, Израиль, Китай.
            p Терминал внутренних авиалиний занимает 12600 квадратных метров, оснащен 3 телетрапами и имеет пропускную способность 600 человек в час, имеет просторные залы ожидания и места отдыха.

            h2 Современный высокотехнологичный комплекс

            p Терминал внутренних авиалиний занимает 12600 квадратных метров, оснащен 3 телетрапами и имеет пропускную способность 600 человек в час, имеет просторные залы ожидания и места отдыха.
            p Терминал международных авиалиний представляет собой современный высокотехнологичный комплекс с пропускной способностью 800 человек в час. Его площадь составляет свыше 17 тысяч квадратных метров, что обеспечивает уровень комфорта обслуживания пассажиров стандарта «С» по классификации IATA. Категория  «Е»  ICAO позволяет принимать воздушные суда любого типа, в том числе,  Боинг-747, - 777.
            p В терминале установлено 13 стоек регистрации, 40 кабин паспортного контроля (прилет, вылет, VIP-обслуживание). Терминал оснащен тремя телескопическими трапами. Новое актуальное программное обеспечение, усовершенствованные модели базового и периферийного оборудования дают возможность полностью автоматизировать и оптимизировать работу всех технологических систем. Все помещения соответствуют требованиям безбарьерной среды и позволяют свободно передвигаться людям с ограниченными возможностями здоровья. На строительные работы,  длившиеся 1,5 года, было направлено 1,6 млрд рублей.

            h2 Все условия для комфортного пребывания в аэропорту

            p В терминале установлено 13 стоек регистрации, 40 кабин паспортного контроля (прилет, вылет, VIP-обслуживание). Терминал оснащен тремя телескопическими трапами. Новое актуальное программное обеспечение, усовершенствованные модели базового и периферийного оборудования дают возможность полностью автоматизировать и оптимизировать работу всех технологических систем. Все помещения соответствуют требованиям безбарьерной среды и позволяют свободно передвигаться людям с ограниченными возможностями здоровья. На строительные работы,  длившиеся 1,5 года, было направлено 1,6 млрд рублей.
            p МАУ создает все условия для комфортного пребывания в аэропорту пассажиров. Реализуется государственная программа «Доступная среда» − обслуживание пассажиров с ограниченными физическими возможностями.
            p На сегодняшний день авиация в Башкортостане сохраняет за собой статус превалирующего вида транспорта перед остальными в части сохранения времени и комфорта пассажиров.
